.UserLog-wrapper {
    margin-top: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border: 1px solid #70707033;
    border-radius: 6px;
    padding: 30px 20px;
    max-width: 861px;
}

.UserLog-wrapper .expandable {
    background: #F9F9F9 0% 0% no-repeat padding-box;
    border: 1px solid #70707033;
    border-radius: 6px;
    margin-top: 10px;
    min-height: 40px;
    height: 5.185vh;
    font: normal normal 500 17px/20px Montserrat;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.UserLog-wrapper .expandable:hover {
    background-color: #eeeeee;
    border-color: #000;
}

.UserLog-wrapper .expandable i {
    font-size: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.UserLog-wrapper .expandable .arrow {
    order: 2;
    margin-left: auto;
}

.UserLog-wrapper .expandable-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    border-radius: 6px;
}

.UserLog-wrapper .expandable-content .post-content {
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    border: 1px solid #70707033;
    background: #F9F9F9 0% 0% no-repeat padding-box;
}

.UserLog-wrapper .expandable-content .post-content .square {
    position: relative;
    flex-basis: calc(33.333% - 10px);
    margin: 0.260vw;
}

.UserLog-wrapper .expandable-content .post-content .square::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.UserLog-wrapper .expandable-content .post-content .square .grid-image {
    position: absolute;
    top: 0; left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.UserLog-wrapper .expandable-content .group-content {
    position: relative;
    height: 12vh;
    min-height: 80px;
    border: 1px solid #70707033;
    background: #F9F9F9 0% 0% no-repeat padding-box;
}

.UserLog-wrapper .expandable-content .group-content .layer {
    background-color: #ffffffd8;
    width: 100%;
    height: 100%;
    position: absolute;
}

.UserLog-wrapper .expandable-content .group-content .content-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.UserLog-wrapper .expandable-content .group-content .content-wrapper img {
    border-radius: 9999px;
    width: 68px;
    height: 68px;
    object-fit: cover;
    margin: 0 1vw 0 1.4vw;
}

.UserLog-wrapper .expandable-content .group-content .content-wrapper .text-wrapper h3 {
    font: normal normal 600 16px/19px Montserrat;
    letter-spacing: 0.51px;
    margin: 0;
    margin-bottom: 4px;
}

.UserLog-wrapper .expandable-content .group-content .content-wrapper .text-wrapper p {
    font: normal normal 500 14px/18px Montserrat;
    letter-spacing: 0.45px;
    color: #555555;
    margin: 0;
}

.UserLog-wrapper .expandable-content .group-content .content-wrapper .leave-button {
    margin: auto;
    margin-right: 1.25vw;
    order: 2;
    background: #333333 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font: normal normal 600 13px/16px Montserrat;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    padding: 6px 18px;
    cursor: pointer;
}

.UserLog-wrapper .expandable-content .group-content .content-wrapper .leave-button:hover {
    opacity: 0.8;
}

.UserLog-wrapper .expandable-content .user-content {
    border: 1px solid #70707033;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    padding-top: 2vh;
}

.UserLog-wrapper .expandable-content .user-content>div>p {
    margin-bottom: 3vh;
}

.UserLog-wrapper .expandable-content .user-content>* {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: 0;
    margin-top: 0.9vh;
    font: normal normal 400 18px/22px Montserrat;
}

.UserLog-wrapper .expandable-content .user-content .border-right {
    border-right: 1px solid #77777733;
    box-sizing: border-box;
}

.UserLog-wrapper .expandable-content .user-content .user {
    display: flex;
    margin-bottom: 2.8vh;
    align-items: center;
    padding-left: 3vw;
    gap: 0.4vw;
    padding-right: 2.5vw;
}

.UserLog-wrapper .expandable-content .user-content .user img {
    border-radius: 9999px;
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.UserLog-wrapper .expandable-content .user-content .user p {
    margin: 0;
    font: normal normal normal 14px/18px Montserrat;
    color: #666666;
    text-align: left;
}

.UserLog-wrapper .expandable-content .user-content .user h4 {
    margin: 0;
    font: normal normal 500 16px/19px Montserrat;
    text-align: left;
}

.UserLog-wrapper .expandable-content .user-content .user .follow-button {
    margin-left: auto;
    order: 2;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 3px;
    font: normal normal normal 14px/18px Montserrat;
    color: #FFFFFF;
    padding: 5.5px 17px;
    cursor: pointer;
}

.UserLog-wrapper .expandable-content .user-content .user .follow-button:hover {
    opacity: 0.7;
}

.UserLog-wrapper .expandable-content .comment-content {
    border: 0;
}

.UserLog-wrapper .expandable-content .comment-content .comment-group {
    background: #F9F9F9 0% 0% no-repeat padding-box;
    border: 1px solid #70707033;
    border-radius: 6px;
    opacity: 1;
    padding: 1.5vh 1.2vw;
    margin-top: 1.85vh;
}

.UserLog-wrapper .expandable-content .comment-content .comment-group h4 {
    margin-top: 0;
    margin-bottom: 1.5vh;
    font: normal normal bold 16px/19px Montserrat;
}

.UserLog-wrapper .expandable-content .comment-content .comment-group .comment img {
    border-radius: 9999px;
    height: 55px;
    width: 55px;
    object-fit: cover;
}

.UserLog-wrapper .expandable-content .comment-content .comment-group .comment {
    display: flex;
    gap: 1.1vw;
    margin-top: 2vh;
    align-items: center;
}

.UserLog-wrapper .expandable-content .comment-content .comment-group .comment strong {
    font: normal normal 700 17px/20px Montserrat;
}

.UserLog-wrapper .expandable-content .comment-content .comment-group .comment h4 {
    font: normal normal 500 17px/20px Montserrat;
    margin-bottom: 1.2vh;
}

.UserLog-wrapper .expandable-content .comment-content .comment-group .comment p {
    font: normal normal normal 16px/18px Times New Roman;
    margin: 0;
}

.UserLog-wrapper .expandable-content .comment-content .comment-group .comment .trash-icon {
    font-size: 19px;
    height: 30px;
    flex: 0 0 31px;
    border-radius: 9999px;
    text-align: center;
    padding-top: 1px;
    cursor: pointer;
}

.UserLog-wrapper .expandable-content .comment-content .comment-group .comment .trash-icon:hover {
    background: #DDDDDD 0% 0% no-repeat padding-box;
}

.UserLog-wrapper .expandable-content .report-content {
    border: 0;
}

.UserLog-wrapper .expandable-content .report-content .report-group {
    background: #F9F9F9 0% 0% no-repeat padding-box;
    border: 1px solid #70707033;
    border-radius: 6px;
    opacity: 1;
    padding: 1.5vh 1.2vw;
    margin-top: 1.85vh;
}

.UserLog-wrapper .expandable-content .report-content .report-group h4 {
    margin-top: 0;
    margin-bottom: 1.5vh;
    font: normal normal bold 16px/19px Montserrat;
}

.UserLog-wrapper .expandable-content .report-content .report-group .report img {
    border-radius: 9999px;
    height: 55px;
    width: 55px;
    object-fit: cover;
}

.UserLog-wrapper .expandable-content .report-content .report-group .report {
    display: flex;
    gap: 1.1vw;
    margin-top: 2vh;
    align-items: center;
}

.UserLog-wrapper .expandable-content .report-content .report-group .report h4>strong {
    font-weight: 700;
}

.UserLog-wrapper .expandable-content .report-content .report-group .report h4>span{
    font: normal normal 700 17px/20px Montserrat;
    color: #FF0000;
}

.UserLog-wrapper .expandable-content .report-content .report-group .report h4 {
    font-weight: 500;
    margin-bottom: 1.2vh;
}

.UserLog-wrapper .expandable-content .report-content .report-group .report p {
    font: normal normal normal 16px/18px Times New Roman;
    margin: 0;
}

.UserLog-wrapper .expandable-content .report-content .report-group .report .trash-icon {
    font-size: 19px;
    height: 30px;
    flex: 0 0 31px;
    border-radius: 9999px;
    text-align: center;
    padding-top: 1px;
    cursor: pointer;
}

.UserLog-wrapper .expandable-content .report-content .report-group .report .trash-icon:hover {
    background: #DDDDDD 0% 0% no-repeat padding-box;
}

.UserLog-wrapper .expandable-content .time-content {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    border: 1px solid #70707033;
    border-radius: 6px;
    margin-top: 1.5vh;
    padding-bottom: 5vh;
}

.UserLog-wrapper .expandable-content .time-content p {
    font: normal normal 600 20px/24px Montserrat;
    margin: 0;
    margin-top: 1vh;
}

.UserLog-wrapper .expandable-content .time-content h3 {
    font: normal normal 800 36px/44px Montserrat;
    margin: 0;
}

.UserLog-wrapper .expandable-content .time-content .time-datepicker>p {
    font: normal normal 500 18px/22px Montserrat;
    color: #030303;
    margin-top: 3vh;
}

.UserLog-wrapper .expandable-content .time-content .time-datepicker>p>i {
    font-size: 25px;
    margin-right: 0.5vw;
}

.UserLog-wrapper .expandable-content .time-content .chart-wrapper {
    height: 300px;
    width: 34vw;
    min-width: 550px;
    margin: 2vh 0;
}

