.groupPage {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center; 
    gap: 39px;
    padding-top: 50px;
    background-color: #fafafa;
}

.groupPage .leftside {
    width: 861px;
    overflow:hidden;
}
.groupPage .rightside {
    width: 334px;
}
@media (max-width: 500px) {
    .headerOutDiv .whiteDiv .groupProfile{
        left: 5%;
    }
    .headerOutDiv .whiteDiv .groupProfile div h1{
        font: normal normal bold 25px/39px Montserrat;
    }
}
@media (max-width: 1240px) {
    .groupPage .rightside{
        width: 70%;
    }
    .groupPage .leftside {
        width: 70%;
    }
}
@media screen and (max-width: 600px) {
    .groupPage .left-side {
        width: 100vw;
    }
}