.ruleOutDiv{
    width: 100%;
}

.ruleOutDiv .ruleInDiv p{
    border-top: 1px solid;
    font: normal normal 600 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    display: flex;
    padding: 10px 10px 0px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    margin-top: 0;
}
.ruleOutDiv .ruleInDiv .text {
    width: 84.7%;
    margin-left: 25px;
    padding-bottom: 15px;
}

.text.collapsed {
    display: none;
}

.text.expanded{
    display: block;
}
.ruleOutDiv .ruleInDiv .text span{
    font: normal normal normal 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    user-select: none;
}